@media all and (min-width: 576px){
}
@media all and (min-width: 768px){
	
}
@media all and (min-width: 992px) {
	.block{
		height: 155px !important;
	}
	.logo_mb{
		display: none !important;
	}
	.main-nav{
		ul{
			display: flex;
			justify-content: center;
			// align-items: center;
			font-weight: 600;
			li{
				font-size: 1.6rem;
				margin-right: 2rem;  
				a{
					display: block;
					padding: 1rem 0;
					position: relative;
					&:before{
						content: '';
						@include absolute_(unset, 50%, .5rem, 50%);
						opacity: 0;
						background: $c_w;
						@include smooth(0.3s);
						height: 1px;
						z-index: 2;
					}
				}
		
				&:hover a{
					&:before{
						left: 0;
						right: 0;
						opacity: 1;
					}
				}
			}
		}
	}
}
@media all and (min-width: 1200px){
}


@media all and (max-width: 1200px){
}
@media all and (max-width: 991px){
	.block{
		height: 98px !important;
	}
	.img_bg-right{
		max-width: 300px !important;
	}
	.logo_mb{
		img{
			height: 50px;
		}
	}
	.header__logo{
		img{
			height: 80px !important;
		}
	}
	#action-toolbar{display: block;
	}
	.main-nav{
		background: url('../images/background.jpg');
		max-width: 400px;
		min-width: 250px;
		-webkit-transform: translate(-400px,0);
		-ms-transform: translate(-400px,0);
		transform: translate(-400px,0);
		color: $c_w;
		z-index: 5;
		@include fixed_(0,unset,0,0);
		@include smooth(.5s);
		&.active{
			-webkit-transform: translate(0,0);
			-ms-transform: translate(0,0);
			transform: translate(0,0);
		}
		
		ul{
			text-align: left;
			>li{
				position: relative;
				&:first-child a{
					border-top: 1px solid $c_w;
				}
				a{
					display: block;
					padding: .75rem 1.5rem;
					border-bottom: 1px solid $c_w;
					@include smooth(0.3s);
					img{
						padding-right: 5px;
					}
				    /* &:hover{
				    	background: $c_main;
				    	color: $c_w;
				    } */
				}
				ul{
					display: none;
					li{
						a{padding-left: 3rem;
							display: block;}
						}
					}
				}
			}
			.open-menu{
				color: $c_b;
				cursor: pointer;
				font-size: 1.5rem;
				padding: 1rem;
				position: absolute;
				top: 0;
				right: 0;
				@include smooth(250ms);
			}
			.rotate{
				-webkit-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				transform: rotate(135deg); 
			}
		}
		#btn-menu{
			position: absolute;
			z-index: 6;
			right: 1rem;
			top: 3rem;
			cursor: pointer;
			@include smooth(.3s);
			border-radius: 50%;
			border: 1px solid $c_w;
			height: 33px;
			width: 33px;
			text-align: center;
			line-height: 32px;
			&:before{
				font-size: 1.5rem;
				color: $c_w;
			}
			&.icon-x{
				border: 1px solid $c_w;
				&:before{
					color: $c_w;
				}
			}
		}
	}


	@media all and (max-width: 767px){
		.block{
			height: 75px !important;
		}
		.header__logo{
			img{
				height: 60px !important;
			}
		}
		.section_top{
			.s-content.v1{
				margin-top: 300px;
			}
		}
		.banner .items{
			img{
				height: 50vh;
				width: 100vw;
			}
		}

	}
	@media all and (max-width: 576px){
		html{
			font-size: 55.5% !important;
		}
		nav.mobile-nav{
			width: 320px !important;
		}
		.tns-outer{
			.tns-controls{
				button{
					&:before{
						z-index: 1;
						top: 30% !important;
						color: #007bff !important;
						background: rgba(255, 255, 255, .5);
					}
					&:last-child:before{
						right: unset !important;
						left: 0;
					}
					&:first-child:before{
						left: unset !important;
						right: 0;
					}
				}

			}
		}
	}
	@media all and (max-width: 480px){
	}
	@media all and (max-width: 400px){
	}
	@media all and (max-width: 320px){
	}